@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

a {
    text-decoration: none;
}


img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Abril Fatface', cursive;
}


.header {
    display: flex;
    justify-content: left;
    align-items:center;
    padding: 1rem 2rem;
    color: #0a0908;
    background-color: #c6ac8f;
    gap: 2rem;
    border-bottom: 10px solid #0a0908
}

.logo-canda{
    width: 200px;
    height: 200px;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items:end;
    gap: 5rem;
}

ul.menu{
    float:left!important;
    padding-left:50px!important;
    font-size: 24px !important;
}

.menu-link{
    color: #0a0908;
}

.icono-link{
    color: #0a0908;
}

.redes {
    display: flex;
    justify-content: left;
    align-items:end;
    gap: 1rem;
}

.panel{
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 1rem 1rem;
    border-bottom: 3px solid #0a0908
}

.panel-inferior{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.horario{
    display: flex;
    flex-direction: column;
}



.icono{
    width: 4rem;
    height: 4rem;
}

.icono-icon {
    font-size: 3rem;
}



.presentacion{
    color: #c6ac8f;
    background-color: #5e503f;
    border-bottom: 10px solid #0a0908;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5rem 15rem;
    gap: 10rem;
}

.titulo-presentacion{
    font-size: 4rem;
    margin-bottom: 1rem;
}

.presentacion-text {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.ubicacion{
    color: #5e503f;
    background-color: #eae0d5;
    border-bottom: 10px solid #0a0908;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5rem 15rem;
    gap: 10rem;
}

.titulo-ubicacion{
    font-size: 4rem;
    margin-bottom: 1rem;
}


.ubicacion-text {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:center;
    padding: 1rem 2rem;
    color: #eae0d5;
    background-color: #0a0908;
    gap: 2rem;
    border-bottom: 10px solid #0a0908
}

.menu-link2 {
    color: #eae0d5;
}

.nav-inferior {
    border-bottom: 3px solid #eae0d5;
}


.servicios{
    color: #c6ac8f;
    background-color: #5e503f;
    border-bottom: 10px solid #0a0908;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5rem 15rem;
    gap: 10rem;
}

.galeria-fotos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.titulo-servicios{
    font-size: 4rem;
    margin-bottom: 1rem;
    border-bottom: 5px solid #c6ac8f;
}



.turnos{
    color: #c6ac8f;
    background-color: #5e503f;
    border-bottom: 10px solid #0a0908;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:normal;
    padding: 5rem 15rem;
    gap: 3rem;
}

.titulo-turnos{
    font-size: 4rem;
    margin-bottom: 1rem;
}

.reserva-turnos{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.contenido-reserva{
    display: flex;
    flex-direction: column;
}

.titulo-reservas{
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
}

.text-online{
    color: #eae0d5;
}

.texto-reserva {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.btn {
    background-color: #0a0908;
    color: #eae0d5;
    padding: .5rem 1.5rem;
    font-weight: 600;
}

.contactanos{
    color: #c6ac8f;
    background-color: #5e503f;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:normal;
    padding: 2rem 8rem;

}

.titulo-contactanos{
    font-size: 4rem;
    margin-bottom: 1rem;
}

.pantalla-contacto {
    display: flex;
    justify-content:left;
    align-items: center;
    padding: 5rem 10rem;
    gap: 8rem;
}

.contenido-contactanos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 4rem;
    margin-bottom: 1rem;
    
}


.icono-icon2 {
    font-size: 10rem;
}

.galeria-productos {
    color: #c6ac8f;
    background-color: #5e503f;
    padding-block: 3rem;
    padding: 4rem 5rem;
}


.galeria-container {
    display: flex;
    max-width: 1000px;
    margin-inline: auto;
    gap: 2rem;
    margin-bottom: 2rem
}

.galeria-foto {
    width: 100%;
    border: 2px solid #c6ac8f;
}

.galeria-foto img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;

}

.descripcion-producto{
    text-align: center;
    justify-content: center;
}