.contactanos{
    color: #c6ac8f;
    background-color: #5e503f;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:normal;
    padding: 2rem 8rem;
    .titulo-contactanos{
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    .pantalla-contacto {
        display: flex;
        justify-content:left;
        align-items: center;
        padding: 5rem 10rem;
        gap: 8rem;
        .contenido-contactanos{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            font-size: 4rem;
            margin-bottom: 1rem;
        }
        .redes{
            .icono-icon2 {
                font-size: 10rem;
            }           
        }
    }

}