.contactanos{
        color: #c6ac8f;
        background-color: #5e503f;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items:normal;
        padding: 2rem 8rem;   
}

.titulo-contactanos{
font-size: 4rem;
margin-bottom: 1rem;
}

.pantalla-contacto {
display: flex;
justify-content:left;
align-items: center;
padding: 5rem 10rem;
gap: 8rem;
}   
.btn {
        background-color: #0a0908;
        color: #eae0d5;
        padding: .5rem 1.5rem;
        font-weight: 600;
}
.redes {
        display: flex;
        justify-content: left;
        align-items:end;
        gap: 1rem;
}
.contenido-contactanos{
display: flex;
flex-direction: column;
justify-content: space-around;
font-size: 4rem;
margin-bottom: 1rem;        
}

.icono-icon2 {
font-size: 10rem;
}
.galeria-fotos{
        display: flex;
        flex-direction: column;
        gap: 1rem;
}
.swing-in-bottom-fwd {
        -webkit-animation: swing-in-bottom-fwd 3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
                animation: swing-in-bottom-fwd 3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

        @-webkit-keyframes swing-in-bottom-fwd {
        0% {
        -webkit-transform: rotateX(100deg);
                transform: rotateX(100deg);
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
        opacity: 0;
        }
        100% {
        -webkit-transform: rotateX(0);
                transform: rotateX(0);
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
        opacity: 1;
        }
        }
        @keyframes swing-in-bottom-fwd {
        0% {
        -webkit-transform: rotateX(100deg);
                transform: rotateX(100deg);
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
        opacity: 0;
        }
        100% {
        -webkit-transform: rotateX(0);
                transform: rotateX(0);
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
        opacity: 1;
        }
} 
