@media (max-width: 1120px){
    .h1, .h2{
        font-size: 20px;
    }

    .menu {
        list-style-type: none;
        display: flex;
        align-items:end;
        gap: 3rem;
    }
    
    ul.menu{
        float:left!important;
        padding-left:30px!important;
        font-size: 16px !important;
    }
    .header .panel-inferior {
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    
    .servicios, .presentacion, .turnos, .contactanos, .pantalla-contacto, .galeria-productos{
        border-bottom: 5px solid #0a0908;
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 3rem 8rem;
        gap: 5rem;
    }

    .servicios .servicios-info .titulo-servicios, .presentacion .titulo-presentacion, .ubicacion .titulo-ubicacion, .turnos .titulo-turnos, .turnos .reserva-turnos .contenido-reserva .titulo-reservas, .titulo-contactanos{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .servicios .servicios-info .presentacion-text, .ubicacion .ubicacion-text, .presentacion .presentacion-text{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .ubicacion{
        border-bottom: 5px solid #0a0908;
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 3rem 8rem;
        gap: 5rem;
    }

    .turnos .reserva-turnos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenido-contactanos{
        font-size: 1rem;
        margin-bottom: 0.5rem;     
    }
    .galeria-productos .galeria-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        margin-inline: auto;
        gap: 2rem;
        margin-bottom: 2rem
    }
}
@media (max-width: 700px){
    .h1, .h2{
        font-size: 16px;
    }
    .menu {
        list-style-type: none;
        display: flex;
        align-items:end;
        gap: 1rem;
    }
    
    ul.menu{
        float:left!important;
        padding-left:15px!important;
        font-size: 14px !important;
    }
    .header .panel-inferior {
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    
    .servicios, .presentacion, .turnos, .contactanos, .pantalla-contacto, .galeria-productos{
        border-bottom: 5px solid #0a0908;
        padding: 1rem 5rem;
        gap: 3rem;
    }

    .servicios .servicios-info .titulo-servicios, .presentacion .titulo-presentacion, .ubicacion .titulo-ubicacion, .turnos .titulo-turnos, .turnos .reserva-turnos .contenido-reserva .titulo-reservas, .titulo-contactanos{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .servicios .servicios-info .presentacion-text, .ubicacion .ubicacion-text, .presentacion .presentacion-text{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .presentacion-img, .ubicacion-img {
        width: 150px;
        height: 150px;
    }
    .ubicacion{
        border-bottom: 5px solid #0a0908;
        padding: 1rem 5rem;
        gap: 3rem;
    }
    .turnos .reserva-turnos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenido-contactanos{
        font-size: 1rem;
        margin-bottom: 0.5rem;     
    }
    .galeria-productos .galeria-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        margin-inline: auto;
        gap: 2rem;
        margin-bottom: 2rem
    }
}


@media (max-width: 460px){
    .h1, .h2{
        font-size: 12px;
    }
    .header {
        display: flex;
        flex-direction: column;
        align-items:center;
        gap: 0.5rem;
    }
    .menu {
        list-style-type: none;
        display: grid;
        grid-template-columns: 3fr 3fr;
        align-items: center;
    }
    
    ul.menu{
        float:left!important;
        padding-left:10px!important;
        font-size: 10px !important;
    }
    .header .panel-inferior {
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .header .panel-inferior .redes .icono{
        width: 2rem;
        height: 2rem;
    }


    .servicios, .presentacion, .turnos, .contactanos, .pantalla-contacto, .galeria-productos{
        border-bottom: 5px solid #0a0908;
        padding: 1rem 5rem;
        gap: 3rem;
    }

    .servicios .servicios-info .titulo-servicios, .presentacion .titulo-presentacion, .ubicacion .titulo-ubicacion, .turnos .titulo-turnos, .turnos .reserva-turnos .contenido-reserva .titulo-reservas, .titulo-contactanos{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .servicios .servicios-info .presentacion-text, .ubicacion .ubicacion-text, .presentacion .presentacion-text{
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .presentacion-img, .ubicacion-img {
        width: 150px;
        height: 150px;
    }
    .ubicacion{
        border-bottom: 5px solid #0a0908;
        padding: 1rem 5rem;
        gap: 3rem;
    }
    .footer-text{
        font-size: 0.5rem;
        margin-bottom: 0.5rem;        
    }
    .turnos .reserva-turnos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .turnos .reserva-turnos .contenido-reserva .texto-reserva{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .btn {
        padding: .5rem .5rem;
        font-weight: 300;
    }
    .contenido-contactanos{
        align-items: center;
        font-size: 1rem;
        margin-bottom: 0.5rem;     
    }
    .galeria-productos .galeria-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;
        margin-inline: auto;
        gap: 2rem;
        margin-bottom: 2rem
    }
    .icono-icon2 {
        font-size: 1rem;
    }  
}
