@media (max-width: 1120px){
    .h1, .h2{
        font-size: 20px;
    }
    .header {
        .panel{
            .nav{
                .menu{
                    list-style-type: none;
                    display: flex;
                    align-items:end;
                    gap: 3rem;
                    ul.menu{
                        float:left!important;
                        padding-left:30px!important;
                        font-size: 16px !important;
                    }
                }
            }
            .panel-inferior{
                display: flex;
                flex-direction: column;
                align-items:center;
            }
        }
    }

    .presentacion{
        border-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 3rem 8rem;
        gap: 5rem;
        .titulo-presentacion{
            font-size: 2rem;
            margin-bottom: 1rem;
        }    
        .presentacion-text {
            font-size: 1rem;
            margin-bottom: 1rem;
        }
    }

    .ubicacion{
        border-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 3rem 8rem;
        gap: 5rem;
        .titulo-ubicacion{
            font-size: 2rem;
            margin-bottom: 1rem;
        } 
        .ubicacion-text {
            font-size: 1rem;
            margin-bottom: 1rem;
        }
    }

    .servicios{
        border-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 3rem 8rem;
        gap: 5rem;
        .galeria-fotos{
            display: grid;
            grid-template-columns: 3fr 3fr 3fr;
            align-items: center;
        }
        .servicios-info{
            .titulo-servicios{
                font-size: 2rem;
                margin-bottom: 1rem;
            }
        }
    }
    .turnos{
        border-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 3rem 8rem;
        gap: 5rem;
        .titulo-turnos{
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        .reserva-turnos{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .contactanos{
        border-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 3rem 8rem;
        gap: 5rem;
        .titulo-contactanos{
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        .contenido-contactanos{
        font-size: 1rem;
        margin-bottom: 0.5rem;
        }
    }
    .galeria-productos {
        .galeria-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 500px;
            margin-inline: auto;
            gap: 2rem;
            margin-bottom: 2rem;
        }
    }
}

@media (max-width: 700px){
    .h1, .h2{
        font-size: 16px;
    }
    .header {
        .panel{
            .nav{
                .menu{
                    list-style-type: none;
                    display: flex;
                    align-items:end;
                    gap: 1rem;
                    ul.menu{
                        float:left!important;
                        padding-left:15px!important;
                        font-size: 14px !important;
                    }
                }
            }
            .panel-inferior{
                display: flex;
                flex-direction: column;
                align-items:center;
            }
        }
    }

    .presentacion{
        border-bottom: 5px;
        padding: 1rem 5rem;
        gap: 3rem;
        .titulo-presentacion{
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }    
        .presentacion-text {
            font-size: 1rem;
            margin-bottom: 1rem;
        }
        .presentacion-img {
            width: 150px;
            height: 150px;
        }
    }

    .ubicacion{
        border-bottom: 5px;
        padding: 1rem 5rem;
        gap: 3rem;
        .titulo-ubicacion{
            font-size: 1.5rem;
            margin-bottom: 1rem;
        } 
        .ubicacion-text {
            font-size: 1rem;
            margin-bottom: 1rem;
        }
        .ubicacion-img {
            width: 150px;
            height: 150px;
        }
    }

    .servicios{
        border-bottom: 5px;
        padding: 1rem 5rem;
        gap: 3rem;
        .galeria-fotos{
            display: grid;
            grid-template-columns: 3fr 3fr 3fr;
            align-items: center;
        }
        .servicios-info{
            .titulo-servicios{
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }
        }
    }
    .turnos{
        border-bottom: 5px;
        padding: 1rem 5rem;
        gap: 3rem;
        .titulo-turnos{
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
        .reserva-turnos{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .contactanos{
        border-bottom: 5px;
        padding: 1rem 5rem;
        gap: 3rem;
        .titulo-contactanos{
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
        .contenido-contactanos{
        font-size: 1rem;
        margin-bottom: 0.5rem;
        }
    }
    .galeria-productos {
        .galeria-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 500px;
            margin-inline: auto;
            gap: 2rem;
            margin-bottom: 2rem
        }
    }
}


@media (max-width: 460px){
    .h1, .h2{
        font-size: 12px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items:center;
        gap: 0.5rem;
        .panel{
            .nav{
                .menu{
                    list-style-type: none;
                    display: grid;
                    grid-template-columns: 3fr 3fr;
                    align-items: center;
                    ul.menu{
                        float:left!important;
                        padding-left:10px!important;
                        font-size: 10px !important;
                    }
                }
            }
            .panel-inferior{
                display: flex;
                flex-direction: column;
                align-items:center;
                .icono{
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }

    .presentacion{
        border-bottom: 5px;
        padding: 1rem 5rem;
        gap: 3rem;
        .titulo-presentacion{
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }    
        .presentacion-text {
            font-size: 1rem;
            margin-bottom: 1rem;
        }
        .presentacion-img {
            width: 150px;
            height: 150px;
        }
    }

    .ubicacion{
        border-bottom: 5px;
        padding: 1rem 5rem;
        gap: 3rem;
        .titulo-ubicacion{
            font-size: 1.5rem;
            margin-bottom: 1rem;
        } 
        .ubicacion-text {
            font-size: 1rem;
            margin-bottom: 1rem;
        }
        .ubicacion-img {
            width: 150px;
            height: 150px;
        }
    }
    .servicios{
        border-bottom: 5px;
        padding: 1rem 5rem;
        gap: 3rem;
        .galeria-fotos{
            display: grid;
            grid-template-columns: 3fr 3fr 3fr;
            align-items: center;
        }
        .servicios-info{
            .titulo-servicios{
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }
        }
    }
    .turnos{
        border-bottom: 5px;
        padding: 1rem 5rem;
        gap: 3rem;
        .titulo-turnos{
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
        .reserva-turnos{
            display: flex;
            flex-direction: column;
            align-items: center;
            .texto-reserva {
                font-size: 1rem;
                margin-bottom: 1rem;
            }
            .boton-reserva{
                .btn {
                    padding: .5rem .5rem;
                    font-weight: 300;
                }
            }
        }
    }
    .contactanos{
        border-bottom: 5px;
        padding: 1rem 5rem;
        gap: 3rem;
        .titulo-contactanos{
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
        .contenido-contactanos{
        align-items: center;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        }
        .redes{
            .icono-icon2 {
                font-size: 1rem;
            }           
        }
    }
    .galeria-productos {
        .galeria-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 300px;
            margin-inline: auto;
            gap: 2rem;
            margin-bottom: 2rem
        }
    }
    .footer{
        .footer-tex{
            font-size: 0.5rem;
            margin-bottom: 0.5rem;  
        }      
    }
}
