.ubicacion{
    color: #5e503f;
    background-color: #eae0d5;
    border-bottom: 10px solid #0a0908;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5rem 15rem;
    gap: 10rem;
    .titulo-ubicacion{
        font-size: 4rem;
        margin-bottom: 1rem;
    } 
    .ubicacion-text {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
}